[submodule "tokenized-to-tree"]
	path = tokenized-to-tree
	url = https://github.com/transpect/tokenized-to-tree
[submodule "calabash"]
	path = calabash
	url = https://github.com/transpect/calabash-frontend
[submodule "xslt-util"]
	path = xslt-util
	url = https://github.com/transpect/xslt-util
[submodule "xproc-util"]
	path = xproc-util
	url = https://github.com/transpect/xproc-util
